custom_components/.DS_Store
custom_components/mail_and_packages/.DS_Store
custom_components/mail_and_packages/__pycache__/.DS_Store
includes/.DS_Store
includes/packages/.DS_Store
www/.DS_Store
www/mail_and_packages/.DS_Store
.DS_Store
custom_components/mail_and_packages/camera.py.old
custom_components/mail_and_packages/.backup/__init__.py
custom_components/mail_and_packages/.backup/camera.py
custom_components/mail_and_packages/.backup/manifest.json
custom_components/mail_and_packages/.backup/sensor.py
notes.txt
.vscode/settings.json
