-r requirements.txt
pip>=21.0,<22.1
av==8.1.0
aiohttp_cors
aioresponses==0.7.3
black==22.1.0
isort==5.10.1
pytest==7.0.1
pytest-cov
pytest-homeassistant-custom-component==0.6.12
homeassistant==2022.2.6