      .mail-clear {
        clear:both;
      }
      .mail-and-packages {
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right:2em;
        position: relative;
      }
      .mail-iron-icon {
        height: 18px;
        padding-right: 5px;
        color: var(--paper-item-icon-color);
      }
      .mail-variations {
        font-weight:300;
        color: var(--primary-text-color);
        list-style:none;
        margin-left:-2em;
        margin-top: 1em;
      }
      .mail-variations.right {
        float: right;
        margin-left: 0;
        margin-right: 1em;
      }
      .MailImg {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 1em;
      }
      .usps_update {
	      font-size: .7em;
      }